BR2_arm=y
BR2_cortex_a7=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_GNU_MIRROR="http://ftpmirror.gnu.org"
BR2_OPTIMIZE_3=y
BR2_TARGET_GENERIC_HOSTNAME="LuckFox"
BR2_TARGET_GENERIC_ISSUE="Welcome to Luckfox Pico"
BR2_TARGET_GENERIC_ROOT_PASSWD="12345"
BR2_SYSTEM_DHCP="eth0"
# BR2_ENABLE_LOCALE_PURGE is not set
BR2_GENERATE_LOCALE="C.UTF-8"
BR2_SYSTEM_ENABLE_NLS=y
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_ext_tree_PATH)/board/luckfox/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_ext_tree_PATH)/board/luckfox/scripts/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/luckfox-pico/common/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/ppy2/ale-linux-rv1106.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="main"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="../ext_tree/board/luckfox/config/linux.config"
BR2_LINUX_KERNEL_IMAGE_TARGET_CUSTOM=y
BR2_LINUX_KERNEL_IMAGE_TARGET_NAME="zImage"
BR2_LINUX_KERNEL_IMAGE_NAME="boot.img"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="rv1106g-luckfox-pico-pro-max"
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="$(BR2_EXTERNAL_ext_tree_PATH)/board/luckfox/dts_max/rv1106g-luckfox-pico-pro-max.dts $(BR2_EXTERNAL_ext_tree_PATH)/board/luckfox/dts_max/rv1106-luckfox-pico-pro-max-ipc.dtsi $(BR2_EXTERNAL_ext_tree_PATH)/board/luckfox/dts_max/rv1106.dtsi $(BR2_EXTERNAL_ext_tree_PATH)/board/luckfox/dts_max/rv1106-pinctrl.dtsi $(BR2_EXTERNAL_ext_tree_PATH)/board/luckfox/dts_max/rockchip-pinconf.dtsi"
BR2_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y
BR2_PACKAGE_BUSYBOX_CONFIG="../ext_tree/board/luckfox/config/busybox.config"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_ALSACONF=y
BR2_PACKAGE_ALSA_UTILS_ALSALOOP=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_ALSA_UTILS_SPEAKER_TEST=y
BR2_PACKAGE_MPD=y
BR2_PACKAGE_MPD_DSD=y
BR2_PACKAGE_MPD_FLAC=y
# BR2_PACKAGE_MPD_MAD is not set
BR2_PACKAGE_MPD_WAVPACK=y
BR2_PACKAGE_MPD_CURL=y
BR2_PACKAGE_MPD_HTTPD_OUTPUT=y
BR2_PACKAGE_MPD_AVAHI_SUPPORT=y
BR2_PACKAGE_MPD_ID3TAG=y
BR2_PACKAGE_UPMPDCLI=y
BR2_PACKAGE_BUSTLE=y
BR2_PACKAGE_LIBTOOL=y
BR2_PACKAGE_PKGCONF=y
BR2_PACKAGE_DBUS_CPP=y
BR2_PACKAGE_DBUS_GLIB=y
BR2_PACKAGE_DBUS_TRIGGERD=y
BR2_PACKAGE_DTBOCFG=y
BR2_PACKAGE_ROCKCHIP_RKBIN=y
BR2_PACKAGE_PHP=y
BR2_PACKAGE_PHP_SAPI_CGI=y
BR2_PACKAGE_PHP_SAPI_CLI=y
BR2_PACKAGE_ALSA_PLUGINS=y
BR2_PACKAGE_LIBMAD=y
BR2_PACKAGE_LIBSNDFILE=y
BR2_PACKAGE_LIBGCRYPT=y
BR2_PACKAGE_DTC=y
BR2_PACKAGE_DTC_PROGRAMS=y
BR2_PACKAGE_YAJL=y
BR2_PACKAGE_LIBOGG=y
BR2_PACKAGE_NCURSES_WCHAR=y
BR2_PACKAGE_NCURSES_TARGET_PROGS=y
BR2_PACKAGE_AVAHI_DEFAULT_SERVICES=y
BR2_PACKAGE_DROPBEAR=y
# BR2_PACKAGE_DROPBEAR_CLIENT is not set
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_DROPBEAR_LEGACY_CRYPTO=y
BR2_PACKAGE_LIGHTTPD=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_SNTP=y
# BR2_PACKAGE_NTP_NTPD is not set
BR2_PACKAGE_NTP_NTPDATE=y
BR2_PACKAGE_NTP_NTPDC=y
BR2_PACKAGE_NTP_NTPQ=y
BR2_PACKAGE_OPENSSH=y
# BR2_PACKAGE_OPENSSH_SERVER is not set
# BR2_PACKAGE_OPENSSH_KEY_UTILS is not set
# BR2_PACKAGE_OPENSSH_SANDBOX is not set
BR2_PACKAGE_RSYNC=y
BR2_PACKAGE_SHAIRPORT_SYNC=y
BR2_PACKAGE_SUDO=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_NANO=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_ROOTFS_UBI=y
BR2_TARGET_ROOTFS_UBI_SUBSIZE=0
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1f000
BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=2047
BR2_TARGET_ROOTFS_UBIFS_OPTS="-F"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/rockchip-linux/u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="2687dce2617032930f2c43fef349bdea694c6f68"
BR2_TARGET_UBOOT_PATCH="../ext_tree/patches/uboot.patch"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="rv1106"
# BR2_TARGET_UBOOT_FORMAT_BIN is not set
BR2_TARGET_UBOOT_FORMAT_CUSTOM=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="uboot.img"
BR2_PACKAGE_HOST_PKGCONF=y
BR2_PACKAGE_HOST_RUSTC=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SIGNATURE_SUPPORT=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_ENVIMAGE=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_ENVIMAGE_SOURCE="board/luckfox-pico/common/uboot-env.txt"
BR2_PACKAGE_HOST_UBOOT_TOOLS_ENVIMAGE_SIZE="0x40000"
BR2_PACKAGE_APRENDERER=y
BR2_PACKAGE_APLAYER=y
BR2_PACKAGE_RASPOTIFY=y
BR2_PACKAGE_NAA=y
BR2_PACKAGE_ROONREADY=y
BR2_PACKAGE_APSCREAM=y
BR2_PACKAGE_SCREAM=y
BR2_PACKAGE_TIDALCONNECT=y
BR2_PACKAGE_SQUEEZELITER2=y
BR2_PACKAGE_S2MONO=y
