@font-face {
  font-family: 'NotoSansDisplay';
  src: url("../fonts/NotoSansDisplay-ExtraLight.ttf") format('truetype');
}

body, html {
	height: 100%;
	width:100%;
	padding: 0;
	margin: 0;
	display: grid;
	place-items: center;
	font-size: 1.05em;
	font-family: "NotoSansDisplay";
	color: rgb(208, 208, 208);
}

body {
	background-color: rgb(26, 26, 26);
}

#central_widget {
	width: 50%;
	min-height: 37%;
	height: auto;
	display: flex;
    flex-direction: column;
    position: relative;
}

#main_content {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	background-color: rgb(45, 45, 45);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#renderer_list {
	padding: 21px;
	width: 100%;
    height: 100%;
}

#renderer_list td {
    width: 50%; /* Ensures equal column width */
    vertical-align: middle;
	padding: 4px;
}

#renderer_list tr {
}

.button_main, .button_secondary {
	background: none;
	border: none;
	color: rgb(208, 208, 208);
	padding: 7px 10px;
    text-align: left;
	font-size: 1em;
	font-family: "NotoSansDisplay";
}

.button_secondary {
	border-left: 1px solid rgb(131, 131, 131);
	width: 43px;
    display: block;
    vertical-align: middle;
}

.button_main {
}

.renderer_button, .output_button, #update_button {
	width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch; /* Ensures child elements stretch to full height */
    justify-content: space-between;
    background-color: rgb(70, 70, 70);
    border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;
}

.bottom_line_cnt {
	display: inline-flex;
}

.nopadding_cell {
	padding: 0 !important;
}

.full_width_cell {
	width: 100% !important;
}

.right_align_cell {
	text-align: right;
}

#purefox_label {
	position: absolute;
    bottom: -25px;
    right: 33px;
    background-color: rgb(38, 38, 38);
    z-index: -100;
    color: black;
    font-size: 0.9em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(20, 20, 20);
    padding: 3px 7px;
    border-radius: 0px 0px 7px 7px;
}

.radio_image {
	display: block;
    width: 27px;
    height: 23px;
    background-image: url(../img/radio.png);
    background-position: -3px -28px;

}

.settings_image {
	display: block;
    width: 27px;
    height: 23px;
    background-image: url(../img/settings.png);
    background-position: -2px -27px;

}

.active {
	background-color: rgb(0, 82, 218);
	color: white;
	border-color: rgb(70, 108, 172);
	
}

.active .button_main {
	text-shadow: 0px 0px 1px rgb(255, 255, 255);
}

.active .settings_image {
	background-position: -2px -1px;
}

.active .radio_image {
	background-position: -3px -1px;
}

#update-log-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 1000;
}

#update-log-content {
	background: #181818;
	color: #0f0;
	padding: 10px;
	text-align: left;
	height: 300px;
	overflow-y: auto;
	white-space: pre-wrap;
	border: 1px solid #666;
}

.close-modal {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	background: #444;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-transform: uppercase;
}
