.alsa-toggle {
display: flex;
align-items: center;
margin-bottom: 20px;
}

.alsa-toggle label {
margin-right: 10px;
font-size: 16px;
color: #e0e0e0;
}

.alsa-buttons {
display: flex;
border: 1px solid #555;
border-radius: 8px;
overflow: hidden;
}

.alsa-button {
padding: 10px 20px;
font-size: 16px;
color: #e0e0e0;
background-color: #3d3d3d;
border: none;
cursor: pointer;
transition: all 0.3s ease;
}

.alsa-button.active {
background-color: #007bff;
color: #fff;
}

.alsa-button:not (.active):hover {
background-color: #4d4d4d;
}

/* Остальные стили */
html, body {
height: 100%;
width:100%;
padding: 0;
margin: 0;
display: grid;
place-items: center;
}

body {
background-color: #1a1a1a;
font-family: 'Arial', sans-serif;
color: #e0e0e0;
}

.container {
max-width: 50%;
min-width: 240px;
min-height: 66%;
display: block;
margin: auto;
position: absolute;
left: 0;
right: 0;
padding: 20px;
background-color: #2d2d2d;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
text-align: center;
color: #e0e0e0;
font-size: 24px;
margin-bottom: 20px;
}

.btn-custom {
display: block;
width: 100%;
padding: 15px;
margin: 10px 0;
font-size: 16px;
color: #e0e0e0;
background-color: #3d3d3d;
border: 1px solid #555;
border-radius: 8px;
text-align: left;
transition: all 0.3s ease;
}

.btn-custom:hover {
background-color: #4d4d4d;
transform: translateY(-2px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-custom:active {
transform: translateY(0);
box-shadow: none;
}

.btn-custom.active {
background-color: #007bff;
color: #fff;
border-color: #007bff;
}

.btn-custom:focus {
outline: none;
border-color: #007bff;
}

.btn-custom.primary {
border-left: 5px solid #007bff;
}

.btn-custom.success {
border-left: 5px solid #28a745;
}

.btn-custom.warning {
border-left: 5px solid #ffc107;
}

.btn-custom.danger {
border-left: 5px solid #dc3545;
}

.update-finish {
    color: #fff;
    font-weight: bold;
}

.update-error {
    color: #ff4d4d; /* Ярко-красный */
    font-weight: bold;
}

.player-buttons .btn-custom {
    margin-top: 1px;
    margin-bottom: 1px;
}

.ap-buttons .btn-custom {
    margin-bottom: 1px;
}
     
#label{
    text-align: center;
    display: table-cell;
    line-height: 25px;
    width: 81px;
    background: rgb(41 40 40);
    color: rgb(12 12 12);
    position: absolute;
    border-radius: 0 0 5px 5px;
    bottom: -25px;
    right: 14px;
    -webkit-box-shadow: inset 0px 11px 15px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 11px 15px -9px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 11px 15px -9px rgba(0, 0, 0, 0.75);
}