[Unit]
Description=Album Player Service

[Service]
Type=forking
WorkingDirectory=/usr/aplayer
ExecStart=/usr/aplayer/aplayer
StandardOutput=null

[Install]
WantedBy=multi-user.target
